/* ---------- */
/* Custom properties */
/* ---------- */

:root {
  /* colors */

  /* (Dark Mode Elements) */
  /* --clr-Dark-Blue: hsl(209, 23%, 22%); */
  /* (Dark Mode Background) */
  /* --clr-Very-Dark-Blue: hsl(207, 26%, 17%); */
  /* (Light Mode Text) */
  --clr-text: hsl(200, 15%, 8%);
  /* (Light Mode Input) */
  --clr-input: hsl(0, 0%, 52%);
  /*  (Light Mode Background) */
  --clr-background: hsl(0, 0%, 98%);
  /* (Dark Mode Text & Light Mode Elements) */
  --clr-element: hsl(0, 0%, 100%);

  /* typography */
  --ff-serif: 'Nunito Sans', sans-serif;

  /* font-size */
  --fs-900: 5rem;
  --fs-800: 3.5rem;
  --fs-700: 2rem;
  --fs-600: 1.75rem;
  --fs-500: 1.125rem;
  --fs-400: 1rem;
  --fs-300: 0.875rem;
  --fs-200: 0.75rem;

  /* box-shadow */
  --b-shadow: 0 0 10px hsl(200, 15%, 8%, .1);
}

[data-theme="dark"] {
  --clr-background: hsl(207, 26%, 17%);
  --clr-element: hsl(209, 23%, 22%);
  --clr-text: hsl(0, 0%, 100%);
}

/* ---------- */
/* REST */
/* ---------- */

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-weight: 800;
}

body {
  background-color: var(--clr-background);
  color: var(--clr-text);
  font-family: var(--ff-serif);
  font-size: var(--fs-400);
  font-weight: 300;
  line-height: 1.5;
  min-height: 100vh;
}

ul,
ol {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
select,
textarea {
  font: inherit;
}

/* ---------- */
/* Utilities classes */
/* ---------- */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.container {
  width: min(90%, 90rem);
  margin-inline: auto;
}

/* --------- */
/* Components */
/* --------- */

.card {
  background-color: var(--clr-element);
  color: var(--clr-text);
  box-shadow: var(--b-shadow);
  border-radius: .2rem;
  overflow: hidden;
  cursor: pointer;
  transition: 300ms;
}

.card:hover,
.card:focus {
  box-shadow: 0 0 30px hsl(200, 15%, 8%, .6);
}

.card-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 2rem;
}

.card-body h3 {
  margin-bottom: 1rem;
}

.card-body p {
  margin-bottom: .2rem;
  font-weight: 600;
}

.card-body p span {
  font-weight: 300;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: .5em;
  padding: .5em 2em;
  background-color: white;
  box-shadow: var(--b-shadow);
  border-radius: .2rem;
  background-color: var(--clr-element);
  color: var(--clr-text);
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
  transition: 300ms;
}

.btn:hover,
.btn:focus {
  background-color: var(--clr-background);
  color: var(--clr-text);
}



/* ---------- */
/* General layout */
/* ---------- */

/* header */

.header {
  position: relative;
  padding: 2rem 0;
  background-color: var(--clr-element);
  box-shadow: var(--b-shadow);
}

.header > div > div {
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 2.5rem;
}

@media (max-width: 800px) {
  .header h1 {
    font-size: clamp(1rem, 2vw + 1rem ,2.5rem);
  }
}

.header button {
  color: var(--clr-text);
  display: inline-flex;
  align-items: center;
  gap: .5rem;
  border: 0;
  background: 0;
  cursor: pointer;
}

.header .fas {
  position: relative;
  right: -24px;
  opacity: 0;
}

.header .far {
  opacity: 1;
}

/* main */

.main {
  padding: 4rem 0;
}

.search {
  position: relative;
  justify-content: space-between;
}

.custom-select {
  flex: 0 0 auto;
  width: 200px;
}

.custom-input {
  position: relative;
  flex: 0 0 auto;
  width: 400px;
  color: var(--clr-text);
}

@media (max-width: 750px) {
  .search {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.countries {
  padding: 4rem 0;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.countries.countries-search {
  grid-template-columns: repeat(auto-fit, 300px);
}

/* detail page */

.detail {
  padding: 4rem 0;
}

.detail-country {
  padding: 4rem 0;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

.detail-img img {
  height: 450px;
  width: 100%;
  object-fit: cover;
  box-shadow: var(--b-shadow);
}

@media (max-width: 1024px) {
  .detail-country {
    grid-template-columns: 1fr;
    place-items: start;
  }
}

.detail-body h2 {
  font-size: var(--fs-700);
}

.detail-body p {
  font-weight: 600;
}

.detail-body span {
  font-weight: 300;
}

.detail-info {
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1200px) {
  .detail-info {
    grid-template-columns: 1fr;
  }
  .detail-img img {
    height: auto;
    object-fit: contain;
  }
}

.detail-border {
  margin-top: 4rem;
  font-weight: 600;
}

.borders-name {
  flex-wrap: wrap;
  --gap: .8rem;
  margin-top: .5rem;
}

/* Custom input */

.fa-magnifying-glass {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  font-weight: 600;
}

@media (max-width: 750px) {
  .fa-magnifying-glass {
    top: 28px;
    transform: 0;
  }
}

.input {
  width: 100%;
  padding: 1em 1.5em;
  padding-left: 5em;
  font-weight: 600;
  background-color: var(--clr-element);
  color: var(--clr-text);
  border: 0;
  border-radius: .5rem;
  box-shadow: var(--b-shadow);
  outline: none;
}

.input::placeholder {
  color: var(--clr-text);
  font-weight: 300;
}

.input:focus,
.input:active {
  box-shadow: 0 0 0 2px hsl(207, 26%, 17%, .5);
}

/* Custom Select */

.custom-select {
  position: relative;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: var(--clr-element);
  box-shadow: var(--b-shadow);
  border-radius: .5rem;
}

.select-selected::before {
  position: absolute;
  content: "";
  top: 45%;
  right: 10%;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: var(--clr-text) transparent transparent transparent;
}

.select-selected.select-arrow-active::before {
  border-color: transparent transparent var(--clr-text) transparent;
  top: 30%;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: var(--clr-text);
  padding: 1em 1.5em;
  

  /* border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent; */
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: var(--clr-element);
  box-shadow: var(--b-shadow);
  border-radius: .5rem;
  top: 120%;
  left: 0;
  right: 0;
  z-index: 99;
  overflow: hidden;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: var(--clr-element);
  color: var(--clr-text);
}
